/* Tipo de selectores:
SELECTOR DE ELEMENTO: p{color:blue;}

SELECTOR DE CLASE: .cliente{color: blue;}

SELECTOR DE ID(no se repiten): #cliente{color: blue;}

SELECTOR DE ATRIBUTO: [src="logo.jpg"]{color: blue;}

COMBINACIÓN DE DESCENDENTES: .cliente .nombre {color: blue;} (funciona con clase, Id, elementos html y combinaciones)

SELECCIONAR TODOS LOS HIJOS: .cliente >p {color: blue;}
 */
:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 16px; /* 1rem = 10px*/
  font-family: "Krub", sans-serif;
}
.title {
  text-align: center;
  font-size: 3.8rem;
}
.title span {
  font-size: 2rem;
}
.navegacion-principal {
  background-color: var(--secundario);
}
.contenedor {
  width: 120rem;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
} /*para poder centrar todo el contenido generamos una clase general para ello.*/
